.card3 .card {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d2ab664d;
  border-radius: 0;
}

.card3 .card h3 {
  font-size: 17px;
  color: #747474;
  text-align: center;
}

.card3 .card h4 {
  font-size: 22px;
  color: #484848;
  margin-bottom: 15px;
}

.card3 .card h4 svg{
    color: #A79A77;
    margin-right: 5px;
}

.card3 .card img {
  height: 100px;
  margin-bottom: 20px;
  object-fit: cover;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .card3 .card h4 {
    font-size: 15px;
  }
  .card3 .card {
    height: 215px;
    margin-bottom: 10px;
  }
  .card3 .card img {
    height: 55px;
  }
  .card3 .card h3 {
    font-size: 14px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
